@import './base.css';

:root {
  --cream: #fffaf3;
  --medium-green: #3D6D4A;
  --dark-green: #263a29;
  --coral: #FF6B6B;
  --white: #fff;
  --gray: #444444;
  --light-gray: #efefef;

  --font-family: 'Nunito Sans', sans-serif;
}

.header-lg {
  font-family: Paytone One;
  font-size: 53.7px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.header {
  font-family: Paytone One;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.subtitle-lg {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%
}

.paragraph {
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.paragraph-lg {
  font-family: Nunito Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}

body {
  min-height: 100vh;
  color: var(--cream);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--dark-green);
}

ul, li {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .header-lg {
    font-size: 2.75em;
  }

  .header {
    font-size: 2.3125em;
  }

  .subtitle-lg {
    font-size: 1.625em;
  }
}